<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="axon_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>logs/phone-query-axon.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/phone-query-axon_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>6MB</maxFileSize>
            <totalSizeCap>60MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MMM/dd HH:mm:ss} [HostName] ${HOSTNAME} [%p][%logger{36}-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="app_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>logs/phone-query.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/phone-query_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>6MB</maxFileSize>
            <totalSizeCap>60MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MMM/dd HH:mm:ss} [HostName] ${HOSTNAME} [%p][%logger{36}-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="app_error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>logs/phone-query_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/phone-query_error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>6MB</maxFileSize>
            <totalSizeCap>60MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MMM/dd HH:mm:ss} [HostName] ${HOSTNAME} [%p][%logger{36}-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [HostName] ${HOSTNAME} [%p][%logger{36}-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hishab.phone.query.api">
        <appender-ref ref="app_log"/>
        <appender-ref ref="app_error_log"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- Axon-specific logger configuration -->
    <logger name="org.axonframework" level="DEBUG" additivity="false">
        <appender-ref ref="axon_log"/>
    </logger>

    <root level="DEBUG"/>
</configuration>
